{
  "CN": "system:node:{{ item }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "FR",
      "L": "Orleans",
      "O": "system:nodes",
      "OU": "MF",
      "ST": "Loiret"
    }
  ]
}
